@charset "utf-8";

/*焦点图*/
.focus { width:1132px; margin:0px auto; margin-top:10px; overflow:hidden;}
.focus dl dd{ float:left; height:360px;}
.focus dl dd.dd01{ width:500px;}
.focus dl dd.dd02{ width:316px;}
.focus dl dd.dd03{ width:316px;}
.focus dl dd.dd03 .div01{ height:180px; border-bottom:5px solid #fff;}
.focus dl dd.dd03 .div02{ height:180px;}
.focus .dd01 .content h3 a{ font-size:28px; color:#fff; font-weight:600; line-height:40px;}
.focus .dd01:hover .content h3 a{ font-size:28px; color:#8dc11e; font-weight:600; line-height:40px;}
.focus dl .dd01 .big_img{ height:360px;}

.focus dl dd.dd03   .focus_box .big_img:before{ content: ""; position: absolute; display: block; height: 100%; width: 100%; 
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(110%, #000000)) repeat scroll 0 0 rgba(0,0,0,0.1);
background: -webkit-linear-gradient(rgba(0,0,0,0),#000000 110%) repeat scroll 0 0 rgba(0,0,0,0.1);
background: -moz-linear-gradient(rgba(0,0,0,0),#000000 110%) repeat scroll 0 0 rgba(0,0,0,0.1);
background: -o-linear-gradient(rgba(0,0,0,0),#000000 110%) repeat scroll 0 0 rgba(0,0,0,0.1);
background: linear-gradient(rgba(0,0,0,0),#000000 110%) repeat scroll 0 0 rgba(0,0,0,0.1);
-webkit-box-shadow: 1px 1px rgba(255,255,255,0.2) inset,-1px -1px rgba(0,0,0,0.4) inset;
-moz-box-shadow: 1px 1px rgba(255,255,255,0.2) inset,-1px  -1px rgba(0,0,0,0.4) inset;
box-shadow: 1px 1px rgba(255,255,255,0.2) inset,-1px  -1px rgba(0,0,0,0.4) inset;
bottom: 0; }
.focus dl dd.dd03 .focus_box:hover .big_img:before{background-color: rgba(0,0,0,0.6); content: ""; display: block; height: 100%; position: absolute; /*left: -30px;*/ width: 100%;}


/*内页主体*/
.inner{ width:1132px; margin:0px auto; margin-top:40px;}
.inner_left{ float:left; display:inline; width:795px; margin-left:0px; margin-top:0px;}
.inner_right{ float:right; display:inline; width:290px; margin-right:0px; margin-top:1px;}
.inner h2{ font-size:22px; color:#0085d0; font-weight:600;}

/*新闻页 资讯速递*/
.inner_article{}
.inner_article h2{ padding-left:20px;}
.inner_article_list{ margin-top:9px;}
.inner_article_list dl{ margin-top:0px; position:relative; }
.inner_article_list dl dd{ padding:25px 20px; border-bottom:1px solid #f1f4f7;}
.inner_article_list dl dd:last-child{ border-bottom:1px solid #fff;}
.inner_article_list dl .content h3 a{ color:#172c45; font-size:20px; line-height:30px;}
.inner_article_list dl .content h3 a:hover{ color:#8dc11e;}
.inner_article_list dl .content .div01{ margin-top:9px; line-height:24px; color:#768696; font-family:"宋体";}
.inner_article_list dl .content .div02{ margin-top:7px;}
.inner_article_list dl .content .div03{ display:none; height:20px; margin-top:10px;}
.inner_article_list dl .content:hover{ background:#f1f4f6;}
.inner_article_list dl .content:hover .div03{ display:block;}
.inner_article_list dl .content:hover{ padding:25px 20px; padding-bottom:12px; padding-top:25px; border-bottom:1px solid #f1f4f7;}
.inner_article_list dl .content:hover+dd{ padding-top:8px;}

/*推荐作者*/
.active_user{ margin-top:0px;}


/*大家都在推荐*/
.reg_article{ margin-top:20px;}
.reg_article dl{ padding:15px 0px; border-bottom:1px solid #f1f4f7;}
.reg_article dl:last-child{ border-bottom:none;}
.reg_article dl dt a{ font-size:16px; line-height:26px; color:#172c45;}
.reg_article dl dt a:hover{ color:#8dc11e;}
.reg_article dl dd{ color:#c0cbd1; line-height:22px; font-family:"宋体"; margin-top:3px;}
.reg_article dl dd a{ color:#0085d0;}
.reg_article dl dd a:hover{ color:#8dc11e;}
.reg_article dl dd span{ color:#768696; }


/******************************************文章列表页****************************************/

.inner_article h2 span{ font-size:12px; color:#768696; font-weight:400; font-family:"宋体"; padding-left:10px; }

/******************************************文章详情页****************************************/

/*文章页*/
.article_page{ width:795px; position:relative; background:#fff;}
.article_page h1.title{ font-size:34px; color:#172c45; font-weight:600; line-height:44px; margin-top:-5px;}
.article_page .description{ font-size:18px; color:#333332; line-height:34px; margin-top:17px;}
.article_page .article_note01{ margin-top:20px; height:30px; border-bottom:1px solid #d5dde2;}
.article_page .article_note01 .l{ float:left; display:inline; line-height:15px; color:#768696; font-family:"宋体"}
.article_page .article_note01 .l .span01{ color:#c0cbd1; padding:0px 5px; }
.article_page .article_note01 .l a{ color:#0085d0;  font-family:"宋体";}
.article_page .article_note01 .l a:hover{ color:#8dc11e;  font-family:"宋体";}
.article_page .article_note01 .r{ float:right; display:inline;height:25px; line-height:25px; position:relative; width:70px; z-index:5;}
.article_page .article_note01 .r .data_button01{ display:inline-block; width:70px; height:25px; line-height:25px; background:url(/images/cssimg/main_sprite02.png) no-repeat -89px -72px; background-color:#0085d0; color:#fff; padding-left:32px; font-family:"宋体"; }
.article_page .article_note01 .r a:hover.data_button01{ background:url(/images/cssimg/main_sprite02.png) no-repeat -89px -72px; background-color:#0073b4; position:relative;}
.data_img{ display:none;}
.article_page .article_note01 .r:hover .data_img{ background:#fff; width:238px; height:167px; position:relative; display:block; z-index:888; right:168px; top:3px; border:1px solid #d5dde2; box-shadow: 2px 2px 14px #b6b6b6;}
.article_page .article_note01 .r:hover .data_img:after{ position: absolute; content: ""; width:70px; left:160px; height:10px; top:-10px;}
.article_page .article_note01 .r:hover .data_button01{ background:url(/images/cssimg/main_sprite02.png) no-repeat -89px -72px; background-color:#0073b4; position:relative;}
#zhexian_chart{ width: 238px; height: 167px; }

/*文章内容*/
.article_content{ color:#333332; font-size:18px; font-weight:400; line-height:190%; padding:10px 0px;}
.article_content p{color:#333332; font-size:18px; font-weight:400; line-height:190%; margin:1em 0; position:relative;}
.article_content .reference{ border-left:3px solid #d5dde2; padding:0px 20px; font-size:18px; color:#333332; font-weight:800; margin:2em 0;}
.article_content a.tag_explain{ color:#0085d0; position:relative;}
.article_content a:hover.tag_explain{ color:#8dc11e; position:relative;}
.article_content a {text-decoration: underline;color: #0085d0;}

.article_content table.table01{ border-collapse:collapse;}
.article_content table.table01 tr td{ background:#ddecff; border:1px solid #83aada;  line-height:12px; color:#000; font-size:14px; font-weight:400; font-family:"微软雅黑"; padding:5px 20px;}
.article_content table.table01 tr td:first-child{ text-align:center; color:#fff; font-size:16px; vertical-align:middle;background-color: #6b9ad4;}

.article_page .article_note02{ margin-top:10px;}
.article_page .article_note02 p.p01{ height:34px; line-height:34px; color:#768696; font-size:14px; font-family:"宋体";}
.article_page .article_note02 .label02 a{ margin-top:5px;}


/*操作 控制*/
.operation{ height:70px; margin-top:35px; border-bottom:1px solid #e4e7ea; border-top:1px solid #e4e7ea; padding:15px 0px;}

/*相关文章 私有*/
.recommended_articles{ margin-top:45px;}
.recommended_articles_list{ margin-top:15px;}
.recommended_articles_list li{ padding:15px 0px; float:left; display:inline; width:390px;}
.recommended_articles_list li a{ display:block; width:390px; overflow:hidden; height:18px; line-height:18px; border-left:3px solid #e4e7ea; padding-left:8px; font-size:16px; color:#333332; font-weight:800;}
.recommended_articles_list li a:hover{ color:#8dc11e;}

/*热门文章 控制*/
.hot_news{ margin-top:35px;}

/*评论 控制*/
.comments{ margin-top:40px;}


/*上传作者相关信息01*/
.pub_user02_box{ border-bottom:1px solid #e4e7ea; padding:0px 20px; padding-bottom:10px;}
.pub_user02_box  h2.title{ font-size:22px; color:#0085d0; font-weight:800;}
.pub_user02_box .text01{ margin-left:-8px; margin-top:10px;}
.pub_user02_box .text01 ul li{ float:left; display:inline; height:30px; border-left:1px solid #f1f4f6; width:56px;}
.pub_user02_box .text01 ul li:first-child{ border-left:none;}
.pub_user02_box .text01 ul li a{ display:block; line-height:12px; text-align:center; font-family:"宋体";   color:#0085d0;}
.pub_user02_box .text01 ul li a:hover{ color:#8dc11e;}
.pub_user02_box .text01 ul li span{ display:block; margin-top:6px; line-height:12px; text-align:center; font-family:"宋体";   color:#333332;}
.pub_user02_box .text02{ font-family:"宋体";margin-top:9px; }
.pub_user02_box .text02 span{ color:#768696;}
.pub_user02_box .text02 a{ color:#0085d0; line-height:22px; }
.pub_user02_box .text02 a:hover{ color:#8dc11e;}
.pub_user02_box .img_box01{ margin-top:15px;}
.pub_user02_box .img_box01 .left_img{ float:left; position:relative; width:60px; height:60px; border:1px solid #dadfea; border-radius:2px;}
.pub_user02_box .img_box01 .left_img img{ width:58px; height:58px; border-radius:2px;}
.pub_user02_box .img_box01 .content{ margin-left:70px;}
.pub_user02_box .img_box01 .content h3{ font-size:14px; font-weight:800; color:#172c45; line-height:24px;}
.pub_user02_box .img_box01 .content p.p02{ font-family:"宋体"; margin-top:10px; height:18px;}
.pub_user02_box .img_box01 .content p.p02 a.a01{ display:inline-block; height:18px; width:70px; color:#fff; padding-left:22px;font-family:"宋体"; line-height:18px; background:url(/images/cssimg/main_sprite02.png) no-repeat -96px -96px; background-color:#0085d0;}
.pub_user02_box .img_box01 .content p.p02 a.a02{ margin-left:10px; display:inline-block; height:18px; width:70px; color:#fff; padding-left:22px;font-family:"宋体"; line-height:18px; background:url(/images/cssimg/main_sprite02.png) no-repeat -96px -119px; background-color:#0085d0;}
.pub_user02_box .img_box01 .content p.p02 a:hover{ background-color:#016ba7;}


/*作者 私有*/
.author{ border:1px solid #e4e7ea; padding:20px 0;}

/*作者的热门文章*/
.author_article{ margin-top:20px; padding:0px 20px;}
.author_article h3{ font-size:16px; font-weight:800; color:#0085d0;}
.author_article_list{ margin-top:12px;}
.author_article_list li{ margin-top:5px;background:url(/images/cssimg/main_sprite01.png) no-repeat -100px -417px; padding-left:12px;}
.author_article_list li a{ font-size:14px; color:#333332; line-height:26px; }
.author_article_list li a:hover{ font-size:14px; color:#8dc11e; line-height:26px; }


/******************************************发布文章****************************************/

.create_table > tr > td:first-child{ width:95px;}